.payment-methods-container{
    
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
    gap: 20px;
}

.method-button:hover{
    background-color: #a5a5a5;
}
    