.product-info-container{
    display: grid;
    height: 100%;
    align-self: center;
    width: 100%;
    /* grid-template-columns: repeat(6, minmax(180px, 1fr));
    grid-auto-rows: 240px; */
    grid-template: 
    "product-images product-image-viewer product-image-viewer product-selection product-selection product-selection" 365px
    "product-info product-info product-info product-selection product-selection product-selection" 200px/
    220px 220px 220px auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-top: 2rem;   
    margin-bottom: 2rem;   
    padding-left: 30px;
    padding-right: 30px;
    z-index: 100;

    @media (max-width:640px) {
        grid-template: 
        "product-image-viewer" 365px
        "product-selection" 600px
        "product-info" 200px/
        auto;
        padding-left: 0px;
        padding-right: 0px;
        gap: 0px;
        justify-items: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }
}

.product-images{
    grid-area: product-images;
    width: 100%;
    height: 100%;
}

.product-image-viewer{
    grid-area: product-image-viewer;
    width: 100%;
    height: 100%;
}

.product-selection{
    grid-area: product-selection;
    width: 100%;
    height: 100%;
}

.product-info{
    grid-area: product-info;
    width: 100%;
    height: 100%;
}

.shadow-detail{
    box-shadow: 0px -2px 28px -16px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px -2px 28px -16px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px -2px 28px -16px rgba(0,0,0,0.47);
    background-color: #fff;
}

