@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #D9E2E5;
}

*::-webkit-scrollbar-track:active {
  background-color: #DBE5E7;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #DDD6BB;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #D4CEB3;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #DDD6BB;
}



:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #1B1B1B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  
}

.ws-chat{
  background-image: url('../src/assets/images/whatsapp-wallpaper.jpg');
  background-size: cover;
}

.fixed-cart{
  background: #fafafa70; /* Fondo semitransparente */
  backdrop-filter: blur(3rem); /* Aplica un desenfoque de 10px */
}